<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Quiz: {{answers | json}} {{answers.length}}
            </h3>
            <div>
                <pre>{{ inDepth }}</pre>
                <pre>{{ result | json }} </pre>
            </div>

            <div>
                <input data-ng-model="query" size="50" value="FirstQuiz"></input>
                <input type="checkbox" data-ng-model="inDepth">
                <button data-ng-click="getAnswers(query)">Get Answers!</button>
                <button data-ng-click="getQuestions(query, inDepth)">Get Questions</button>
                <button data-ng-click="getQuiz(query, inDepth)">Get Quiz</button>

            </div>

            <!-- QA SECTION -->
            <div class="row well">
                <!-- Questions-->
                <div class="row clearfix">
                    <div class="col-md-1 column">
                    </div>
                    <div class="col-md-11 column">
                        <ol>
                            <li>
                                What is the speed of light?
                            </li>
                        </ol>
                    </div>

                    <!-- Answers-->
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                        </div>
                        <div class="col-md-10 column">
                            <ul class="list-unstyled">
                                <!-- TODO: Put into a directive that displays various kinds of answers -->
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">186,282 mph
                                        </label>
                                    </div>
                                <li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">364.25 smoots
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Answers-->
                </div>
                <!-- End questions -->

                <!-- Questions-->
                <div class="row clearfix">
                    <div class="col-md-1 column">
                    </div>
                    <div class="col-md-11 column">
                        <ol>
                            <li>
                                How do you feel?
                            </li>
                        </ol>
                    </div>

                    <!-- Answers-->
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                        </div>
                        <div class="col-md-10 column">
                            <!-- TODO: This will be in the directive for dynamic answers -->
                            <ul class="list-unstyled">
                                <li>
                                    <div class="text">
                                        <textarea type="textbo" cols="60" rows="4"></textarea>
                                    </div>
                                <li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Answers-->
                </div>
                <!-- End questions -->
            </div>

            <!-- Buttons-->
            <div class="row clearfix">
                <div class="col-md-8 column">
                </div>
                <div class="col-md-4 column">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-save"></em>
                            Submit
                        </button>
                        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-backward"></em>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>