<div class="container" ng-hide="loading">

    <div class="row" qz-header></div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Quiz: {{quiz.name}}
            </h3>

            <!-- QA SECTION -->
            <div class="row well">
                <!-- Questions-->
                <div class="row clearfix">
                    <div class="col-md-11 col-md-offset-1 column">
                        <ol ng-class="{'list-unstyled': quizState.currQ == quizState.quizLength && ! SHOW_ALL_QUESTIONS}">
                            <li data-ng-repeat="question in quiz.questionsFull" ng-init="takenQuiz.answers[question.id]={}"
                                qz-answer-currQ="quizState.currQ"
                                ng-show="quizState.currQ == $index || SHOW_ALL_QUESTIONS"
                                value="{{$index + 1}}">

                                <span ng-show="question.hasHTML" ng-bind-html="question.body"></span>
                                <span ng-hide="question.hasHTML">{{question.body}}</span>

                                <div class="row clearfix" >
                                    <div class="col-md-1 column">
                                    </div>
                                    <div class="col-md-11 column">
                                        <ul class="list-unstyled row">
                                            <li data-ng-repeat="answer in question.answersFull"
                                                qz-answer="takenQuiz.answers"
                                                qz-answer-data="{answer:answer, question:question}"
                                                >
                                            <li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="quizState.currQ == quizState.quizLength && ! SHOW_ALL_QUESTIONS">
                                <h4>Please Submit Your Answers</h4>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- quiz navigation buttons -->
                <div class="row" ng-show="! SHOW_ALL_QUESTIONS">
                    <div class="col-md-4 col-md-offset-8">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" ng-click="previousQuestion($index)"
                                data-ng-disabled="quizState.currQ == 0">Previous</button>
                            <button class="btn btn-default" type="button" ng-click="nextQuestion($index)"
                                data-ng-disabled="quizState.currQ == quizState.quizLength">Next</button>
                        </div>
                    </div>
                </div>
                <!-- End questions -->
            </div>

            <!-- Buttons-->
            <div class="row clearfix" ng-show="SHOW_ALL_QUESTIONS || quizState.currQ == quizState.quizLength">
                <div class="col-md-2 column col-md-offset-10">
                    <div class="btn-group">
                        <button class="btn btn-success" type="button" ng-click="saveQuiz(takenQuiz,quiz.questionsFull)"><em class="glyphicon glyphicon-save"></em>
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>