<div class="container" ng-hide="loading">

    <div class="row" qz-header></div>

    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <h2>You Scored: {{ currUserQuiz.result.percent * 100 | number:0 }}%</h2>
        </div>
    </div>
    <div class="row clearfix voffset2">
        <div class="col-md-9 col-md-offset-1">
            <ol>
                <li data-ng-repeat="question in quiz.questionsFull">
                    <span ng-show="question.hasHTML" ng-bind-html="question.body"></span>
                    <span ng-hide="question.hasHTML">{{question.body}}</span>

                    <div class="row clearfix voffset1" >
                        <div class="col-md-12 column">
                            <ul class="list-unstyled">
                                <li ng-if="currUserQuiz.answersRight[question.id]" class="alert-success">
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset2">
                                            Correct!
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset1">
                                            <i class="arrow-right"></i>{{ showAnswer(question, question.correctAnswer) }}
                                        </div>
                                    </div>
                                    <div class="row voffset2"></div>
                                </li>
                                <li ng-if="! currUserQuiz.answersRight[question.id]" class="alert-danger">
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset2">
                                            You answered incorrectly:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset1">
                                            {{ showUserAnswer( question, currUserQuiz ) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset2">
                                            Correct Answer:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1 voffset1">
                                            {{ showAnswer(question, question.correctAnswer) }}
                                        </div>
                                    </div>
                                    <div class="row voffset2"></div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
