<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Quiz: {{quiz.name}}
            </h3>
            <!--<div>
                <pre>{{ inDepth }}</pre>
                <pre>{{ result | json }} </pre>
            </div>

            <div>
                <input data-ng-model="query" size="50" value="FirstQuiz"></input>
                <input type="checkbox" data-ng-model="inDepth">
                <button data-ng-click="getAnswers(query)">Get Answers!</button>
                <button data-ng-click="getQuestions(query, inDepth)">Get Questions</button>
                <button data-ng-click="getQuiz(query, inDepth)">Get Quiz</button>

            </div>-->
            <!-- Debugging-->
            <div><pre>{{takenQuiz | json }}</pre></div>
            <!--<div><pre>{{quiz.questionsFull | json }}</pre></div>-->

            <!-- QA SECTION -->
            <div class="row well">
                <!-- Questions-->
                <div class="row clearfix">
                    <div class="col-md-1 column">
                    </div>
                    <div class="col-md-11 column">
                        <!-- TODO: Make a directive for questions -->
                        <ol>
                            <li data-ng-repeat="question in quiz.questionsFull" ng-init="takenQuiz.answers[question.id]={}">
                                {{question.body}}

                                <div class="row clearfix" >
                                    <div class="col-md-1 column">
                                    </div>
                                    <div class="col-md-11 column">
                                        <ul class="list-unstyled row">
                                            <li data-ng-repeat="answer in question.answersFull"
                                                qz-answer="takenQuiz.answers"
                                                qz-answer-data="{answer:answer, question:question}"
                                                >
                                            <li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End questions -->
            </div>

            <!-- Buttons-->
            <div class="row clearfix">
                <div class="col-md-8 column">
                </div>
                <div class="col-md-4 column">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button" ng-click="saveQuiz(takenQuiz,quiz.questionsFull)"><em class="glyphicon glyphicon-save"></em>
                            Submit
                        </button>
                        <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-backward"></em>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>